.img-responsive {
  width: 100%;
  height: auto;
}

.mt-x {
  margin-top: 1rem;
}

.my-x {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.px-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-xl {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.px-xxl {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.px-m {
  padding-left: .8rem;
  padding-right: .8rem;
}

.text-align-center {
  text-align: center;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.white-space-nowrap {
  white-space: nowrap;
}

[layout-horizontal] {
  display: flex;
}

[layout-vertical] {
  display: flex;
  flex-direction: column;
}

[justify-center] {
  justify-content: center;
}

[align-items-center] {
  align-items: center;
}
