<div class="container">
  <img class="img-responsive" src="./assets/images/logo-big.png" alt="logo" />

  <app-stepper #stepper>
    <app-step header="contact">
      <form [formGroup]="userDataForm" class="login-form">
        <app-email formControlName="email" data-testid="email-test-control" />
        <app-email
          [label]="'Confirm Email'"
          formControlName="confirmEmail"
          data-testid="email-confirm-test-control"
        />
        <app-password
          formControlName="password"
          data-testid="password-test-control"
          [validatorsCustomField]="passwordCustomErrorFields"
        />
        <app-password
          [label]="'Confirm password'"
          formControlName="confirmPassword"
          data-testid="confirm-password-test-control"
          [validatorsCustomField]="passwordCustomErrorFields"
        />
      </form>
    </app-step>
    <app-step style="height: 300px" header="company" data-testid="company-step-test">
      <form [formGroup]="companyDataForm" (ngSubmit)="onFormSubmit()">
        <app-input
          label="Company name"
          placeholder="Type company name"
          formControlName="companyName"
          data-testid="companyName-test-control"
        />
      </form>
    </app-step>

    <div
      footer
      class="my-x"
      [style.margin-top]="stepper.isLastIndex() ? '1rem' : '0'"
    >
      @if (!stepper.isLastIndex()) {
<app-button
        class="w-100"
       
        (click)="stepper.next()"
        [disabled]="userDataForm.invalid || !userDataForm.touched"
        >{{ "share.button.next" | i18n }}</app-button
      >
}
      @if (stepper.isLastIndex()) {
<app-button
        class="w-100"
       
        (click)="stepper.prev()"
        >{{ "share.button.prev" | i18n }}</app-button
      >
}
      @if (companyDataForm.valid && userDataForm.valid) {
<app-button
        (click)="onFormSubmit()"
       
        class="mt-x"
        type="submit"
        >{{ "share.forms.register_user.create_account" | i18n }}</app-button
      >
}
    </div>
  </app-stepper>
</div>
