<div class="password-container">
  <app-input
    [autocomplete]="'password'"
    [(ngModel)]="value"
    [inputStyles]="{ 'padding-right': '30px' }"
    [type]="(inputType$ | async) || 'text'"
  />
  <button (click)="showPassword()" class="transparent-btn show-password" type="button">
    <span class="material-symbols-outlined">
      {{ (inputType$ | async) === "password" ? "visibility" : "visibility_off" }}
    </span>
  </button>
</div>
<ul >
  <li *ngFor="let error of (getErrors() | async)">{{error}}</li>
</ul>
