@import "forms";

.input-container {
  height: 100%;
  position: relative;
}

.show-password {
  display: flex;
  justify-content: center;

  position: absolute;

  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.error-and-forgot-password {
  display: flex;
  justify-content: space-between;

  .forgot-password {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
