<div class="control-container">
  <input
    data-testid="password-input"
    id="password"
    type="password"
    autocomplete="password"
    class="material-input"
    placeholder="Type password"
    [type]="(inputType$ | async) || 'text'"
    *ngIf="formControl"
    [formControl]="formControl"
  />
  <label data-testid="password-label" class="input-label" for="password"
    >{{label}} {{ controlRequired ? "*" : "" }}</label
  >
  <button
    (click)="showPassword()"
    class="transparent-btn show-password"
    type="button"
    data-testid="show-password-btn"
  >
    <span class="material-symbols-outlined" data-testid="input-type-icon">
      {{
        (inputType$ | async) === "password" ? "visibility" : "visibility_off"
      }}
    </span>
  </button>

  <div class="error-and-forgot-password">
    <app-control-error
      [customErrorFields]="validatorsCustomField"
      [control]="formControl!"
      [controlName]="formControlName! || 'control'"
    />
    <small class="forgot-password" *ngIf="showForgotPassword">
      <a>Forgot password?</a>
    </small>
  </div>
</div>
