<div class="container">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="loginForm">
    <fieldset
      [class]="{
        'border-valid': loginForm.valid || !loginForm.touched,
        'border-invalid': loginForm.invalid && loginForm.touched
      }"
    >
      <img
        class="img-responsive"
        src="./assets/images/logo-big.png"
        alt="logo"
      />
      <h2 class="text-align-center">Login</h2>

      <div class="form-container px-x">
        <app-select formControlName="email" data-testid="email-test-control" />
        <app-password
          formControlName="password"
          [validatorsCustomField]="passwordCustomErrorFields"
          data-testid="password-test-control"
        ></app-password>
      </div>

      <app-button
        layout-horizontal
        [disabled]="loginForm.invalid"
        style="justify-content: center"
        class="mt-3"
        tabindex="3"
        type="submit"
        [loading]="(loading$ | async)!"
        [text]="'Login'"
      ></app-button>
      <div class="create-account-baner" layout-horizontal>
        <div><h5>You don't have an account ?</h5></div>
        <div>
          <app-button
            type="button"
            routerLink="/register"
            data-testid="create-account"
            ><a>Create account</a></app-button
          >
        </div>
      </div>
    </fieldset>
  </form>
</div>
