:host {
  display: block;

  max-height: 200px;
  width: 200px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow-y: auto;
  overflow-x: hidden;
}


