<div class="control-container">
  @if (formControl) {
  <input
    [id]="formControlName"
    class="material-input"
    placeholder="todo:: add placeholder"
    [formControl]="formControl"
    readonly
    (click)="onInputClick($event)"
  />

    <label data-testid="email-label" class="input-label" [for]="formControlName"
    >{{ label }} {{ controlRequired ? "*" : "" }}</label
    >
    <app-control-error
      [control]="formControl!"
      [controlName]="formControlName! || 'control'"
    />
  }

</div>
